.ant-btn:hover {
  color: var(--white) !important;
}
.amazonlogo {
  text-align: center;
}
.outlet-main-div {
  height: calc(100vh - 70px);
  overflow: auto;

  &::-webkit-scrollbar {
    width: 5px;
    background-color: var(--white);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 3px;
  }
}
.layout-main {
  height: 100%;
  width: 100%;
}
.outlet-main {
  padding: 20px;
  min-height: calc(100% - 337px);
}
.profile-img {
  border: 1px solid var(--secondary);
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--white);
}
.flexBetween {
  display: flex;
  justify-content: space-between;
}
.outlet-sub-main {
  padding: 20px;
  height: calc(100vh - 70px);
  background-color: #070d0e;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 5px;
    background-color: var(--primary);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--white);
    border-radius: 3px;
  }
}

/* Billing Details... */
.bill-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bill-details {
  font-family: Cinzel;
  text-align: center;
  width: 800px;
  font-size: clamp(2rem, 4vw, 2.4rem);
  font-weight: 400;
}
.billing-form {
  margin: auto;
}
.order-details {
  font-family: Cinzel;
  width: 800px;
  font-size: clamp(2rem, 4vw, 2.4rem);
  font-weight: 400;
}
.bill-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order-total {
  font-size: 20px;
  font-weight: bolder;
}
.order-btn-div {
  display: flex;
  justify-content: center;
}
.order-btn {
  background-color: var(--primary);
  color: var(--white);
  font-size: 20px;
  padding: 20px 40px;
  display: flex;
  align-items: center;
}

/* Cart  */

.cartproducts {
  display: flex;
  justify-content: center;
}
.main-cart {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart-title {
  font-size: 40px;
  font-family: Cinzel;
}
.empty-cart {
  width: 650px;
}
.empty-content {
  display: flex;
  justify-content: space-between;
}
.shop-now-btn {
  background-color: #faeb24;
  margin-right: 10px;
  font-weight: 800;
}
.shop-now-btn:hover {
  color: black !important;
}

.cartitem {
  display: flex;
  width: 500px;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
  height: 130px;
}
.delete-icon {
  font-size: 20px;
}
.empty-div {
  border-bottom: 2px solid #292d32;
}

.cart-total {
  text-align: center;
}
.row-total {
  border-bottom: 1px solid var(--secondary);
  padding: 20px;
}
.col-total {
  font-size: 25px;
  font-weight: 700;
}
.col-key {
  font-size: 25px;
}
.buy-btn {
  padding: 22px 50px;
  background: var(--primary);
  margin-top: 30px;
  color: var(--white);
  display: flex;
  align-items: center;
}
.buy-btn-div {
  display: flex;
  justify-content: center;
}

/* Edit User */

.edit-sub-div {
  font-family: Cinzel;
  text-align: center;
  font-size: clamp(2rem, 4vw, 2.4rem);
}
.on-back {
  margin-left: 20px;
}
.savechanges-btn {
  background-color: #faeb24;
}
.savechanges-btn:hover {
  color: #16120f !important;
}
.user-div {
  display: flex;
  justify-content: center;
}
.user-sub-div {
  width: 500px;
  border: 2px solid var(--secondary);
  padding: 20px;
  border-radius: 10px;
}

/* FooterComp */

.footer-div {
  background-color: var(--primary);
  color: var(--white);
}

.foooter-row {
  background-color: var(--primary);
  color: var(--white);
  padding: 50px 0 0 20px;
}
.amazon-col {
  margin-bottom: 20px;
}
.amazon-title {
  font-size: 20px;
  margin: 20px 0px;
}
.social-link {
  color: var(--white);
}

.social-icon {
  font-size: 30px;
}

.quick {
  font-size: 20px;
  margin-bottom: 10px;
}
.quick-links {
  font-size: 15px;
  margin-bottom: 5px;
}
.sub-col {
  margin-bottom: 20px;
}

/* Header V1*/
.profile-setting {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header {
  height: 70px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-align: center;
  position: sticky;
  width: 100%;
  background-color: var(--primary);
  top: 0;
  z-index: 1;
}
.shop-link {
  font-weight: 800;
  color: var(--white);
  cursor: pointer;
}
.dropdown-icon {
  float: right;
  margin-right: 30px;
}
.welcome-header {
  text-transform: capitalize;
  font-weight: 800;
  font-size: 16px;
  color: var(--white);
}
.itemnumber {
  background: var(--white);
  border: 1px solid #f08804;
  color: #f08804;
  font-weight: 800;
  text-align: center;
  position: absolute;
  right: 31%;
  height: 19px;
  border-radius: 50%;
  width: 20px;
}

/* Header V2*/
.minitv-header {
  height: 70px;
  display: flex;
  align-items: center;
  text-align: center;
  position: sticky;
  width: 100%;
  background-color: var(--primary);
  top: 0;
  z-index: 1;
}
.header-img {
  cursor: pointer;
}
/* My Account */

.account {
  font-family: Cinzel;
  text-align: center;
  width: 800px;
  font-size: clamp(2rem, 4vw, 2.4rem);
  font-weight: 400;
}

.myaccount-box {
  width: 400px;
  border: 2px solid var(--secondary);
  border-radius: 20px;
}
.account-img {
  padding-top: 15px;
  text-align: center;
}
.account-img:hover {
  cursor: pointer;
}

.account-details {
  width: 400px;
  border-bottom: 2px solid var(--secondary);
  padding: 15px 15px;
}
.account-last-col {
  width: 400px;
  padding: 15px 15px;
}
.account-row {
  width: 300px;
  padding: 15px 0;
}
.account-col {
  font-size: 18px;
  line-height: 35px;
  font-weight: 700;
}
.account-subcol {
  text-transform: capitalize;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.account--col {
  font-size: 16px;
  display: flex;
  align-items: center;
}
.edit-col {
  display: flex;
  align-items: center;
}

.edit-icon:hover {
  cursor: pointer;
  color: #16120f !important;
}

/* MiniTV */
.mini-tv {
  background-color: #070d0e;
}
.minitv-main {
  height: calc(100% - 70px);
  width: 100%;
  display: flex;
  justify-content: center;
}
.trending-label {
  font-size: 18px;
  font-weight: 800;
  color: var(--white);
}
.loader {
  height: calc(100vh - 110px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.movie-desc {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.movie-col {
  cursor: pointer;
}
.movie-image {
  border-radius: 20px;
}
.movie-image:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.2s ease-in;
}
/* Products   */

.product-img {
  display: flex;
  justify-content: center;
  height: 250px;
}
.cards {
  margin: 50px 0 50px 0 !important;
}
.card-span {
  font-size: 18px;
  font-weight: bolder;
}
.categories-btn:hover {
  color: #292d32 !important;
}
.dropdown-key {
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  font-family: Cinzel;
  font-size: 45px;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--secondary);
}
.result {
  font-weight: 800;
  margin-left: 20px;
}
.spinner {
  height: calc(100vh - 559px);
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-cart-btn {
  background-color: var(--primary);
  color: var(--white);
}
.search-input {
  width: 350px;
  border-radius: 20px;
  background: var(--white);
  box-shadow: 0px 1px 5px 0px rgba(1, 0, 0, 0.1);
}
.product-filter {
  display: flex;
  justify-content: space-between;
}

/* PageNotFound */

.page-not-found {
  height: calc(100vh - 500px);
}
.img-center {
  text-align: center;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.question-logo {
  padding: 15px;
  font-size: 50px;
  color: var(--orange);
}
.error-title {
  color: var(--orange);
}

.go-home {
  text-decoration: none;
}
.go-home:hover {
  color: var(--orange);
  text-decoration: underline;
}
/* Signup Form */

.signup-form {
  border: 1px solid var(--secondary);
  border-radius: 20px;
  padding: 20px;
}
.form1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.condition {
  font-size: 15px !important;
}
.register-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cntn-btn {
  width: 100%;
  margin-bottom: 18px;
  background-color: #32373c;
  color: var(--white);
}
.cntn-btn:hover {
  background-color: #292d32;
}
.signin-link {
  text-decoration: none;
}
.signin-link:hover {
  color: var(--orange);
  text-decoration: underline;
}
.policy {
  font-size: 14px;
}
.footer {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.footer-link {
  text-decoration: none;
}
.footer-link:hover {
  text-decoration: underline;
  color: var(--orange);
}
.footer-title {
  margin-top: 20px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

/* Sign-in Form */

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.auth-sub-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.signin-cntn-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #32373c;
  color: var(--white);
}
.divider-line {
  height: 2px;
  background-color: #c9c9c9;
  width: 140px;
}
.signin-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid var(--secondary);
  border-radius: 15px;
  padding: 25px;
}
.form2 {
  display: flex;
  justify-content: center;
}
.title {
  text-align: center;
}
.signin-label {
  font-weight: bold;
}
.divider-break {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.terms {
  font-size: 14px;
}
.create-btn {
  width: 100%;
  display: flex;
  background-color: #1280ee;
  color: var(--white);
  justify-content: center;
  align-items: center;
}

.account-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen {
  .itemnumber {
    right: 31%;
  }
}
@media screen and (max-width: 2560px) {
  .itemnumber {
    right: 36%;
  }
}
@media screen and (max-width: 1800px) {
  .itemnumber {
    right: 31%;
  }
}
@media screen and (max-width: 1440px) {
  .itemnumber {
    right: 25%;
  }
}
@media screen and (max-width: 1024px) {
  .itemnumber {
    right: 16%;
  }
}
@media screen and (max-width: 768px) {
  .itemnumber {
    right: 7%;
  }
}

/* Privacy */

.privacy-main {
  margin: 100px;
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Single Product Detail */

.single-product-main {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.single-product {
  display: flex;
  gap: 40px;
}
.single-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.single-cart-btn {
  width: 300px;
  height: 48px;
  border-radius: 12px;
}
.card-detail {
  font-size: 16px;
}

/* Movie Detail */

.movie-detail-main {
  height: calc(100vh - 110px);
}
.back-icon-btn {
  background-color: var(--primary) !important;
}
.back-icon-btn:hover {
  background-color: rgba(35, 47, 62, 0.7) !important;
}
.movie-label {
  font-size: 18px;
  font-weight: bolder;
  color: var(--white);
}
.movie-detail {
  font-size: 14px;
  color: var(--white);
  opacity: 0.7;
}
.movie-container {
  border-radius: 16px;
  box-shadow: 0 0 45px 15px hsla(0, 0%, 78%, 0.1);
}
.single-movie {
  display: flex;
  padding: 20px;
  gap: 20px;
  justify-content: space-between;
}
.movie-summary {
  font-size: 16px;
  font-weight: 600;
  color: var(--white);
}
.movie-summary-main {
  font-size: 16px;
  color: var(--white);
}
.movie-title {
  font-size: 26px;
  color: var(--white);
  font-weight: 800;
}
.movie-detail-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.watch-btn {
  background-image: linear-gradient(270deg, #de146d, #d21f49);
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 200px;
  height: 50px;
}

.catagories-main {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.movie-categories-btn {
  background-image: linear-gradient(270deg, #de146d, #d21f49);
  font-weight: 500;
  color: var(--white);
}
.movie-categories-btn:hover {
  color: var(--white) !important;
}

